div                   { padding: 0; margin: 0}
.cell                 { height: 20px; width: 20px; display: inline-block; }
.row                  { float: left; clear: both; height: 20px; }
#game-board           { border: 1px solid #ccc; float: left }
#controls             { padding-top: 15px; clear: both; }
.control .description { display: inline-block; width: 120px; }
.control .hotkey      { display: inline-block; }